<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>Map Page</p>
    </div>
  </div>
</div>

<table id="table" border="1" class="table text-center">  
  <thead>  
      <tr>  
          <th>ID</th>  
          <th>ชื่อ</th>  
          <th>lat</th>  
          <th>lon</th> 
      </tr>  
  </thead>  
   <tbody>  
   <% for(var i=0; i < data.length; i++) { %>
      <tr>  
          <td><%= data[i].id %></td>  
          <td><%= data[i].name %></td>  
          <td><%= data[i].lat %></td>  
          <td><%= data[i].lon %></td>  
      </tr>  
   <% } %>
   </tbody>
</table>

<div class="row m-auto">
  <div id="map" class=""></div>
  <div id="result"></div>
</div>
<script type="text/javascript" src="https://api.longdo.com/map/?key=b864325f9aa7e61adad0b649a726210a"></script>
<script>
  function init() {
    map = new longdo.Map({
    layer: [
      longdo.Layers.GRAY,
      longdo.Layers.TRAFFIC
    ],
    zoom: 12,
    placeholder: document.getElementById('map') 
    });
    map.Route.placeholder(document.getElementById('result'));
    map.Route.add(new longdo.Marker({ lon: 100.538316, lat: 13.764953 },
      { 
        title: 'Victory monument', 
        detail: 'I\'m here' 
      }
    ));
    map.Route.add(new longdo.Marker({ lon: 104.869783, lat: 15.246554 },
      { 
        title: 'ท่าอากาศยานนานาชาติอุบลราชธานี monument', 
        detail: '2' 
      }
    ));
    map.Route.add(new longdo.Marker({ lon: 101.869783, lat: 14.246554 },
      { 
        title: 'ท่าอากาศยานนานาชาติอุบลราชธานี monument', 
        detail: '3' 
      }
    ));
    console.log("Data is = " + '<%- data[0].id %>');
    // for (let i = 0; i < obj.length; i++) {
    //   map.Route.add(new longdo.Marker({ lon: obj[i].lon, lat: obj[i].lat },
    //   {
    //     title: obj[i].name,
    //   }

    //   ));
    // }
    map.Route.enableRoute(longdo.RouteType.Tollway, false);
    map.Route.search();
  }
</script>



